AWS_REGION=us-east-2
NODE_ENV=production
SQS_QUEUE_URL=https://sqs.us-east-2.amazonaws.com/YOUR_ACCOUNT_ID/payment-queue
SQS_QUEUE_ARN=arn:aws:sqs:us-east-2:YOUR_ACCOUNT_ID:payment-queue
DYNAMODB_TABLE=Orders
DYNAMODB_TABLE_ARN=arn:aws:dynamodb:us-east-2:YOUR_ACCOUNT_ID:table/Orders
PAYMENTS_TABLE=Payments
PAYMENTS_TABLE_ARN=arn:aws:dynamodb:us-east-2:YOUR_ACCOUNT_ID:table/Payments
REFUNDS_TABLE=Refunds
LEDGER_TABLE=LedgerEntries
BALANCES_TABLE=Balances
SNS_TOPIC_ARN=arn:aws:sns:us-east-2:YOUR_ACCOUNT_ID:payment-events
STRIPE_SECRET_KEY=sk_test_replace_me
PAYPAL_CLIENT_ID=replace_me
PAYPAL_CLIENT_SECRET=replace_me
PAYPAL_ENVIRONMENT=sandbox
